.home {
  position: relative;
  &__background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  &__filter {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(92, 37, 5, 0.5);
    z-index: 3;
  }
  &__poster {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  &__container {
    display: flex;
    height: 630px;
  }
  &__text {
    color: #fff;
    flex: 1 1 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 30px;
  }
  &__title {
    font-size: 60px;
    margin: 0;
    font-weight: 500;
    padding-bottom: 0.15em;
  }
  &__subtitle {
    font-size: 25px;
    color: #ff9933;
  }
}
.popup-thanks {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 100%;
  max-width: 400px;
  color: #000;
  padding: 15px;
  display: none;
  &__container {
    background-color: #fff;
    box-shadow: 0 0 8px 0 rgba(0,0,0,.34);
    padding: 20px 20px 30px 20px;
    border-radius: 5px;
    svg {
      margin: 0 auto;
      width: 60px;
      display: block;
    }
    text-align: center;
  }
  &__title {
    display: block;
    font-size: 24px;
    padding-top: 20px;
  }
  &__text {
    display: block;
    padding-top: 20px;
  }
}

.home-form {
  width: 350px;
  flex-shrink: 0;
  &__group {
    &:not(:last-child) {
      padding-bottom: 15px;
    }
    &:last-child {
      padding-top: 15px;
    }
  }
  &__head {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    margin-bottom: 1px;
  }
  &__container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    &:first-child {
      margin-bottom: 1px;
    }
    &:last-child {
      border-radius: 0 0 5px 5px;
    }
  }
  &__label {
    color: #a6a4a3;
    font-weight: 500;
    font-size: 14px;
    display: block;
    padding-bottom: 5px;
  }
  &__input {
    display: block;
    width: 100%;
    background-color: rgba(69, 61, 54, 0.3);
    border: 0;
    padding: 15px 13px;
    border-radius: 5px;
    box-shadow: inset 0px 1px 1px 0px rgba(150,147,144,1);
  }
}
.logo {
  width: 230px;
  &__link {
    display: block;
    width: 100%;
  }
  &__image {
    display: block;
    width: 100%;
  }
}

@media all and(max-width: 1200px) {
  .home__title {
    font-size: 50px;
  }
}
@media all and(max-width: 768px) {
  .home__container {
    display: block;
    height: auto;
    padding: 60px 0 50px 0;
  }
  .home__text {
    padding: 0 0 50px 0;
  }
}
@media all and(max-width: 576px) {
  .home__text {
    text-align: center;
  }
  .home__title {
    font-size: 38px;
  }
  .home-form {
    width: 100%;
  }
}