header.header
  .header__container
    .container
      .header__content
        span.header__title ОНЛАЙН ТЕСТ предоставлен компанией FXopen
        .logo.header__logo
          a(href="#").logo__link
            img(src="img/logos/logo1.svg", alt="").logo__image
