.popup-thanks
  .popup-thanks__container
    <svg viewBox="0 0 48 48" version="1.1" width="48px" height="48px"><g id="surface1"><path style=" fill:#f60;" d="M 40.601563 12.101563 L 17 35.699219 L 7.398438 26.101563 L 4.601563 29 L 17 41.300781 L 43.398438 14.898438 Z "/></g></svg>
    span.popup-thanks__title Спасибо! Ваша завявка принятa. 
    span.popup-thanks__text Мы свяжемся с вами в ближайшее время!
.home
  .home__background
    //фильтр если нужен, если нет - просто удалить
    span.home__filter
    //
    .home__poster.lazy(data-src='img/backgrounds/bg-home.jpg')
    .element-with-video-bg.jquery-background-video-wrapper
  .container
    .home__container
      .home__text
        h1.home__title Торговать нефтью легко<span class="italic">!</span>
        span.home__subtitle Зарабатывать на торговле энергоносителях может каждый
      .home-form
        .home-form__head
          .logo
            a(href="#").logo__link
              img(src="img/logos/logo1.svg", alt="").logo__image
        form(action="").home-form__form
          .home-form__container
            .home-form__group
              span.home-form__label Имя
              input(type="text" required).input.input_required.home-form__input
            .home-form__group
              span.home-form__label Телефон
              input(type="text" required).input.input_required.home-form__input
            .home-form__group
              span.home-form__label E-mail
              input(type="email").input.home-form__input
            .home-form__group
              .checkbox
                input(type="checkbox" id="personalData").checkbox__input
                label(for="personalData").checkbox__label Я соглашаюсь на обработку моих персональных данных согласно <a href='#'>Политике конфиденциальности</a> компании FXOpen.
          .home-form__container
            button(type='submit').button.button_style1 15 000$ на демо-счет
