.news-feed
  .news-feed__container
    ul.news-feed__list
      li.news-feed__item
        a(href="#").news-feed__link
          span ИА REGNUM
          | Рост рынка нефти тормозят “слабые данные” экономики США
      li.news-feed__item
        a(href="#").news-feed__link
          span SRN
          | Экспортная пошлина на нефть в России с 1 марта выростет на $10,5 – до 91,2 за тонну 
      li.news-feed__item
        a(href="#").news-feed__link
          span BBC Русская служба
          | Экспортная пошлина на нефть в России с 1 марта выростет на $10,5 – до 91,2 за тонну 