.relevance
  .container
    .relevance__container
      .relevance__content
        .relevance__head
          h4.title Почему торговать нефтью актуально?
        .relevance__slider
          .relevance-slider
            .relevance-slide
              .relevance-slide__container
                p.relevance__text Цены на нефть меняются очень быстро. На цены могут влиять политические события, колебания спроса и предложения и даже погодные условия в станах производящих и экспортирующих нефть. Инвесторы во всем мире, пользуясь волатильностью рынка, зарабатывают на росте и падении цены на нефть
            .relevance-slide
              .relevance-slide__container
                p.relevance__text Цены на нефть меняются очень быстро. На цены могут влиять политические события, колебания спроса и предложения и даже погодные условия в станах производящих и экспортирующих нефть. Инвесторы во всем мире, пользуясь волатильностью рынка, зарабатывают на росте и падении цены на нефть
            .relevance-slide
              .relevance-slide__container
                p.relevance__text Цены на нефть меняются очень быстро. На цены могут влиять политические события, колебания спроса и предложения и даже погодные условия в станах производящих и экспортирующих нефть. Инвесторы во всем мире, пользуясь волатильностью рынка, зарабатывают на росте и падении цены на нефть



