.trades
  .trades__background-top.background.lazy(data-src='img/backgrounds/bg_2.jpg')
  .trades__background-bottom.background.lazy(data-src='img/backgrounds/bg_3.jpg')
  .container
    h4.title.trades__title Случайные сделки с нефтью от клиентов FXopen
    .trades__container
      .trades__chart
    .trades-stock
      h4.title Акция +200% на все пополнения<span class="italic">!</span>
      .trades-stock__container
        .trades-stock-block
          .trades-stock-block__container
            .trades-stock-block__content
              img(src="img/icons/icon1.png", alt="").trades-stock-block__icon
              span.trades-stock-block__text Участвуют все клиенты FXOpen
        .trades-stock-block
          .trades-stock-block__container
            .trades-stock-block__content
              img(src="img/icons/icon2.png", alt="").trades-stock-block__icon
              span.trades-stock-block__text Максимальный размер бонуса не ограничен
        .trades-stock-block
          .trades-stock-block__container
            .trades-stock-block__content
              img(src="img/icons/icon3.png", alt="").trades-stock-block__icon
              span.trades-stock-block__text Учитывается каждое пополнение
        .trades-stock-block
          .trades-stock-block__container
            .trades-stock-block__content
              img(src="img/icons/icon4.png", alt="").trades-stock-block__icon
              span.trades-stock-block__text Эскстра-бонусы на индивидуальных условиях
      a(href="#").trades-stock__info Информация о сроках, правилах проведения акции доступна в Правилах 